[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pysqlite3 = "*"
pytest-dependency = "*"
pylint = "*"
autopep8 = "*"

[packages]
hug = "*"
peewee = "*"
psycopg2-binary = "*"
pytz = "*"
xlsxwriter = "*"
ldap3 = "*"
pyjwt = "*"

[requires]
python_version = "3.7"
