[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pysqlite3 = "*"
pysqlite3-binary = "*"

[packages]
hug = "*"
peewee = "*"
psycopg2-binary = "*"
pytz = "*"
xlsxwriter = "*"

[requires]
python_version = "3.7"
